- if flash[:notice]
  .notice=flash[:notice]
%br

- form_for :question, :url => url, :html => method do |f|
  Question:
  %br
  = f.text_area :question
  %br
  = f.submit :save
  
=link_to "show all questions for this campaign", campaign_questions_path