%h3
  %a{:href => "#"}=campaign
.section
  %table
    %tr
      %td
        Add new question:
        - form_for :question, :url => questions_url do |f|
          = f.text_area :question
          = hidden_field_tag :campaign_id, campaign.id
          %br
          = f.submit :save
          #response_form            
  = render :partial => 'shared/question_table'