%h2
  This is a list of events for the future
- @all_events.each_with_index do |event, index|
  %p
    .admin_list_event
      = event.name
      %br
      = event.address
      %br
      = event.phone
      %br
      = event.start_time
    
    
  