%h1==New Campaign

#response{:style => 'color:pink;'}
%br

- remote_form_for :campaign, :complete => "$('#response').html(request.responseText);", :url => campaigns_url do |f|
  Campaign Name: 
  = f.text_field :campaign
  %br
  = f.submit :save

= render :partial => 'new'
