%h1
  Campaigns
- if flash[:notice]
  .notice=flash[:notice]
%br
  
=link_to "New Campaign", new_campaign_url
- if @campaigns
  %ul
  - @campaigns.each do |campaign|
    %li
      .list_box
        %span.campaign_label=link_to campaign, campaign_url(campaign)
        %span.delete_label=link_to  "Delete", campaign_url(campaign), :method => "delete"
        %span.edit_label=link_to  "Edit", edit_campaign_url(campaign)
        %span.show_label=link_to  "Show Questions", campaign_questions_url(campaign)
        
        